<div class="page-header">
  <h1><%= "Sign In" %></h1>
</div>

<p>
hiddeste.local.jp is a site that manages the information and participants of the event,
to notify the participant the event information.<br>
You will be available in the following account.
Read the <%= link_to "Terms of use", "/terms_of_use" %>, on the agreement, please account registration.<br>
</p>

<div class="signin">
<%= form_for User.new,
      :url => { controller: :users, action: :signin, provider: :facebook },
      :html => { method: :get } do |f| %>
  <p>
    <label class="checkbox" for="check">
      <%= check_box :agree, "user_policy", { id: :check, value: true, type: "checkbox" } %>
      I agree the Terms of use
    </label>
  </p>
  <p><%= image_tag("FB-f-Logo__blue_512.png", :size => "216x216") %></p>
  <p>
    <% signin_html_options = { type: "submit", id: "submit", :class => "btn btn-large btn-hiddeste"} %>
    <%= f.submit "Sign in with Facebook", signin_html_options %>
  </p>
</div>

<% end %>

