<div class="page-header">
  <h1><%= "Sign In" %></h1>
</div>

<p>
hiddeste.local.jp is a site that manages the information and participants of the event,
to notify the participant the event information.<br>
You will be available in the following account.
Read the <%= link_to "Terms of use", "/terms_of_use" %>, on the agreement, please account registration.<br>
</p>

<div class="signin">
  <% signin_button_size = "256px" %>
  <% facebook_signin_image_size = "256x256" %>
  <% twitter_signin_image_size  = "256x256" %>
  <% signin_html_options = { type: :submit,
                             :class => "btn btn-large btn-hiddeste",
                             style: "width: #{signin_button_size};" } %>
  <label class="checkbox" for="check">
    <%= check_box :agree, "user_policy", { id: :check, value: true, type: :checkbox } %>
    I agree the Terms of use
  </label>

  <div class="facebook" style="float:left;">
    <%= form_for User.new,
      url:  { controller: :users, action: :signin, provider: :facebook },
      html: { method: :get } do |f| %>
      <p>
        <%= image_tag("FB-f-Logo__blue_512.png", size: facebook_signin_image_size) %>
      </p>
      <p>
        <% facebook_signin_html_options = signin_html_options.merge({ id: :submit_facebook }) %>
        <%= f.submit "Sign in with Facebook", facebook_signin_html_options %>
      </p>
    <% end %>
  </div>

  <div class="twitter" style="float:left;">
    <%= form_for User.new,
      url:  { controller: :users, action: :signin, provider: :twitter },
      html: { method: :get } do |f| %>
      <p>
        <%= image_tag("Twitter_logo_blue.png", size: twitter_signin_image_size) %>
      </p>
      <p>
        <% twitter_signin_html_options = signin_html_options.merge({ id: :submit_twitter }) %>
        <%= f.submit "Sign in with Twitter", twitter_signin_html_options %>
      </p>
    <% end %>
  </div>
</div>

